body {
	font-family: 'Courier New';
	font-size: 3em;
}

header {
	background: #404041;
	font-weight: 900;
}


#sneaky {
	font-size: 10px;
	color: #333333;
}

#number {
	font-weight: bold;
	font-size: 2em;
	color: #ED458B;
}

#guesser {
	font-weight: bold;
	font-size: 2em;
	color: #E6E7E8;
}

#reply.input {
	font-size: 1em;
}

.guessbutton, .clearbutton, .resetbutton {
	background: #929497;
	color: #FFFFFF;
	border-radius:25px;
	padding: 0px;
	width: 50px;
  height: 20px;
	text-align: center;
}

.guessbutton:hover, .clearbutton:hover, .resetbutton:hover {
	background: #EB008B;
	color: #FFFFFF;
	cursor: pointer;
}

.lastguess {
	color: #404041;
}

.guess {
	line-height: 2em;	
	font-size: 2em;
}

.answer {
	margin: 0;
}
