  body {
  margin: 0;
  padding: 0;
  width: 100%;
  color: #F5EFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  background: #CDC1FF;
}

#top{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 10px;
}

#main-container, #details-container, .daily, .hourly{
  background: #7371FC;
  border-radius: 10px;
  box-shadow: 4px 4px;
}

#main-container{
  display: grid;
  grid-template-columns: 300px 400px;
  width: 100%;
  height: 280px;
}

#right-main{
  margin: 20px;
  padding: 20px;
}

#left-main{
  margin: 20px;
  padding: 20px;
}

.temp-display{
  font-size: 2em;
  position: relative;
  bottom: 180px;
  left: 65px;
}

.summary{
  position: relative;
  bottom: 180px;
}

.low{
  position: relative;
  bottom: 200px;
}

.high{
  position: relative;
  bottom: 170px;
  left: 120px;
}

#temp-gauge{
  position:relative;
  top: 20px;
}

#details-container{
  display: grid;
  grid-template-columns: 600px 200px;
  grid-template-rows: 140px;
  height: 280px;
  width: 100%;
  overflow: scroll;
}

#right-details, #left-details, #bottom-details{
  margin: 20px;
}

#bottom-details{
  width: 180%;
  height: 70px;
  position: relative;
  top: 20px;
  left: 50px;
}

#right-details{
  line-height: 1.7em;
}

#bottom{
  margin: 20px 10px 0 10px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  grid-gap: 10px;
  height: 500px;
}

#hourly{
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 10px;
  height: 100%;
  width: 100%;
  font-size: 0.7em;
}

.hourly{
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.hourly p{
  margin: 0 20%;
}

#daily{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  height: 100%;
  width: 100%;
}

.daily{
  /* border: 1px red solid; */
  display: grid;
  grid-template-columns: 25% 12% 25% 20% 20%;
  grid-gap: 5px;
}

.primary{
  margin: 0;
  font-size: 0.8em;
}

.secondary{
  font-size: 0.6em;
}

.centered{
  margin-left: 35%;
}

#details-icon{
  font-size: 3em;
}

#details-summary{
  position: relative;
  bottom: 170px;
  left: 50px;
}
